/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {

  .profile-n-container {
    text-align: left;
  }


  .profile-t-container {
    text-align: left;
  }


  .project-image {
    float: left;
    width: 25%;
    object-fit: cover;
  }

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {


  #header-under li {
    font-size: 15px;
    font-family: "M+ 1c" ;
    padding: 0 20px;
  }

  #massage-wrapper ul {
    text-align: center;
    font-size: 6px;
    margin: 0;
    padding: 40px 0 0 0;
  }

  #massage-wrapper  {
    text-align: center;
    background-color: #e8eaec;
    height: 150px;
    margin: 0 0 30px 0 ;
  }

  .profile-image img{
    float: left;
    height: 140px;
    width: 140px;
    object-fit: cover;
    margin: 0 100px 0 100px;
  }



  .profile-n-container {
    text-align: left;
    display: inline-block;
    margin-left:50px;
  }

  .profile-t-container {
    text-align: left;
    display: inline-block;
    margin-left:50px;
  }


  .profile-n h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight:lighter;
    font-size: 12px;
  }
  .profile-n {
    text-align: center;
  }

  .profile-n p {
    margin: 0px;
    margin: -5px 0 5px 0;
    font-weight:lighter;
    font-size: 5px;
    letter-spacing: 3px;
  }

  .profile-n ul {
    margin: 0px;
    padding: 0px;
  }


.profile-t {
  margin-top: 50px;
  text-align: center;
}


  .profile-t h1 {
    margin-bottom:0px;
    padding-bottom: 0px;
    font-weight: lighter;
    font-size: 12px;
  }

  .profile-t p {
    margin: 0px;
    margin: -5px 0 5px 0;
    font-weight:lighter;
    font-size: 5px;
    letter-spacing: 3px;
  }

  .profile-t ul {
    margin: 0 0 50px 0;
    padding: 0px;
  }

  .profile-content li {
      list-style: none;
      font-weight:lighter;
      font-size: 6px;
      padding: 2 0 2 0;
  }

  .project-image {
    float: left;
    width: 100%;
    object-fit: cover;
  }

  .image img {
    height: 100%;
    object-fit: cover;
    width: 200px;
    overflow: hidden;
  }

  .image p {
    top: 0;
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    color: white;
    opacity: 1;
      display: flex;
      justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
  }

  #footer-icon li {
    margin:0 5px;
    list-style: none;
    display: inline;
    font-weight:lighter;
  }

  .btn-social-icon-mail__square {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 50px;
    border: solid 1px black;
  }

  .btn-social-icon-mail__square i {
    line-height: 40px;
  }

  .btn-social-icon-twitter__square {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 50px;
    border: solid 1px black;
  }

  .btn-social-icon-twitter__square i {
    line-height: 40px;
  }

  .btn-social-icon-facebook__square {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 50px;
    border: solid 1px black;
  }

  .btn-social-icon-facebook__square i {
    line-height: 40px;
  }

  .btn-social-icon-instagram__square {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 50px;
    border: solid 1px black;
  }

  .btn-social-icon-instagram__square i {
    line-height: 40px;
  }
